@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
body , html {
	height: 100%;
	width: 100%;
	margin: 0px;

}

.row {
	font-family: 'Inter', sans-serif;
}

.h-15 {
	height: 15%;
}


.border-1 {
	border-radius: 25px;
	border-width: 0px;
}

.border-2 {
	border-radius: 90px;
	border-width: 0px;
}


.green {
	background-color: #37AC6D;
}

.blue {
	background-color: #2589BA;
}

.text-green {
	color: #37AC6D;
}

.text-white {
	color: white;
}

.menu:hover {
	cursor: pointer;
}

div , a , span , nav {
	color: white;
}